* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
[class*="col-"]{
    max-width: 100%;
    height: 50px;
    background-color: aquamarine;
    border: solid 1px rgb(255, 255, 255);
}
.col-6 .col-2{
background-color: chartreuse;
height: 25px;
}
.col-6 .col-8{
    background-color: chartreuse;
    height: 25px;
}
.col-6 .col-6{
    background-color: chartreuse;
    height: 25px;
}
.col-6.row{
    align-items: center;
    justify-content: space-around;
}
.row.second{
    margin-top: 20px;
}
